<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Fira+Code&family=Outfit:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static_url('css/reset.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/global.css') }}">
    <script src="{{ static_url('js/index.js') }}"></script>
    <title></title>
</head>
<body>

</body>
</html>